.nvd3 {
    .nvd3.nv-pie
    {
      .nv-pie-title {
        fill: #737373;
        font-weight: 500;
      }
      .incEle , .incDesc {
        font-size: 30px !important;
        font-family: "Metroplois" !important;
      }
      .incDesc {
        font-size:14px !important;
      }
    }
  }
  