<div class="side-nav">
  <div class="vmlogo"></div>
  <div class="project-title">Physical Security</div>
  <div class="white-border-full"></div>
  <div class="profile-picture-container">
    <img class="profile-picture" src="../../../assets/images/test1.png" alt="">
  </div>
  <div class="user-name">Abhishek Joshi</div>
  <div class="user-title">Senior Security Manager</div>
  <div class="white-border-short"></div>
  <div class="nav-btn-container">
    <div class="nav-btn selected">
      <clr-icon class="nav-btn-icon is-inverse" size="20" shape="computer"></clr-icon>
      <div class="nav-btn-text">My Dashboard</div>
    </div>
    <div class="nav-btn">
      <clr-icon class="nav-btn-icon is-inverse" size="20" shape="map-marker"></clr-icon>
      <div class="nav-btn-text">Kalyani Vista</div>
    </div>
    <div class="nav-btn">
      <clr-icon class="nav-btn-icon is-inverse" size="20" shape="plus-circle"></clr-icon>
      <div class="nav-btn-text">Add Location</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>